.padre{
    background-color:gainsboro  ;
    }

    form{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 25px;
    }

    button{
        background-color: rgb(91, 118, 158);
    }
    body{
        background-color: gray!important;
    }

